body{
    margin: 0;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 400;
}
*{
    margin: 0;
    padding: 0;
    
    text-decoration: none;
    box-sizing: border-box;
}
#main-content{
    min-height: 100vh;
    max-width: 1000px;
    display: block;
    padding-left: 300px;
    margin: auto;
}
.descricao h2{
    color: #fff;
    border-bottom: 2px solid black;
    background: #3f4855;
}
.descricao{
    overflow-wrap: break-word;
    display: block;
}
/*Aside*/
.aside{
    width: 300px;
    background: #3f4855;
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    color: #ededed;
    padding: 30px;
}

.aside .imagem img{
    width: 50%;
    border-radius: 100%;
    transform: translate(50%);
}
.aside .imagem .redes-sociais{
    display: flex;
    justify-content: center;
}
.aside .imagem .redes-sociais a{
    background:black;
    margin: 10px;
    font-size: 20px;
    color: #fff;
    padding: 5px;
    border-radius: 7px;
}
.aside .nav{
    list-style: none;
    color: #ededed;
    margin-top: 50px;
}
.aside .nav li{
    margin: 20px;
    justify-content: start;
}
.aside .nav li>a{
    margin-left: 20px;
    color: #ededed;
    font-size: 20px;
}
.aside .copyright-text{
    background: #ededed;
    font-size: 13px;
    color: #7d7d7d;
    top: 0;
}
/*Home*/
.home{
    background: url('../_imagens/slide1.jpg') no-repeat;
    height: 90vh;
    background-attachment: fixed;
    width: 100%;
}
.home .bem-vindo{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: #0000008a;
    color: #fff;
    font-size: 40px;
}
.home .cartas{
    background: black;
    display: flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}
.home .cartas .card{
    background: red;
    width: 100px;
    height: 200px;
    display: inline-block;
    margin: 10px;
}
/*sobre*/
.sobre{
    height:70vh;
}
.sobre .descricao{
    height: 30%;
    background-color: blue;
}
.sobre .content{
    background: black;
    display: flex;
    height: 70%;
}
.sobre .content .foto{
    background: grey;
    width: 40%;
    display: inline-block;
    padding: 10px;
}
.sobre .content .foto img{
    width: 100%;
    height: 100%;
}
.sobre .content .info-sobre{
    background-color: aqua;
    width: 80%;
    height: 100%;
    display: inline-block;
}
.sobre .content .info-sobre .descricao{
    height: 30%;
    overflow: hidden;
}
.info-sobre .formacao{
    background: royalblue;
    list-style-position: inside;
}
.sobre .content .info-sobre .formacao{
    height: 70%;
}
/*Projetos*/
.projetos{
    height: 50vh;
}
.projetos .descricao{
    width: 100%;
    height: 30%;
    background-color: #7d7d7d;
}
.projetos .content{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: red;
    width: 100%;
    height: 70%;
}
.projetos .content .item-galeria{
    width: 200px;
    height: 200px;
    margin: 10px;
    
}
/*skills*/
.skills{
    height: 50vh;
}
.skills .descricao{
    width: 100%;
    height: 30%;
}
.skills .habilidades{
    width: 50%;
    margin: 5px;
}
.skills .content{
    display: flex;
    background: red;
    height: 70%;
    align-items: center;
}
/*resume*/
.resume{
    height: 80vh;
    
}
.resume .descricao{
    width: 100%;
    height: 30%;
    background-color: yellowgreen;
}
.resume .content{
    background-color: red;
    display: flex;
    height: 70%;
    
}
.resume .content .formacao {
    margin-top: 30px;
}
.resume .content .formacao ul{
    align-content: center;
}
.resume .content .formacao li{
    margin-bottom: 10px;
    align-content: center;
}
/*portfolio*/
.portfolio{
    height: 90vh;
}
.portfolio .descricao{
    height: 30%;
    background-color: blueviolet;
}
.portfolio .content{
    max-height: 70%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.portfolio .content article{
    width: 30vh;
    height: 30vh;
    margin: 5px;
    
}
/*contato*/
.contato{
    height: 50vh;
}
.contato .descricao{
    height: 30%;
    background-color: tomato;

}
.contato .content{
    height: 70%;
    background-color: rebeccapurple;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.contato .content .item-contato{
        width: 50vh; 
}